@{
    ViewBag.Title = "Сменить пароль";

}
@{
    Layout = "_Layout";
}
@section Scripts
{
    <script type="text/javascript">
        function changePassword(){
            let password = document.getElementById('password').value;
            let passwordAccept = document.getElementById('passwordAccept').value;

            if (password != passwordAccept) {
                alert("Неверно указан пароль подтверждения!!!")
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "/Account/ChangePassword",
                    data: {
                        password: password
                    },

                    success: function (result) {
                        if (result == "true") {
                            alert("Изменено");
                            window.location.href = "/ExchangeRate/Index";
                        }
                        else { alert(result) }

                    }


                })
            }

        }
    </script>
}
<div class="alert alert-primary" style="width:700px">
    
    <div class="form-group d-flex row align-items-center justify-content-left">
        <label class="col-5" for="password">Пароль</label>
        <input type="password" class="form-control col-6" id="password" aria-describedby="emailHelp" required>
    </div>
    <div class="form-group d-flex row align-items-center justify-content-left">
        <label class="col-5" for="passwordAccept">Подтверждение пароля</label>
        <input type="password" class="form-control col-6" id="passwordAccept" aria-describedby="emailHelp" required>
    </div>
</div>
<div>
    <div class="form-group d-flex row align-items-top">
        <button type="button" onclick="changePassword()" class="btn btn-success" style="margin-left: 3%;">Добавить</button>
    </div>
</div>