@{
    ViewBag.Title = "Администратор";
}
@{
    Layout = "_Layout";
}
<div>
    @Html.ActionLink("Добавить Пользователя", "AddUser")
</div>
<div>
    @Html.ActionLink("Сменить роль пользователю", "ChangeRoleUser")
</div>
<div>
    @Html.ActionLink("Сбросить пароль пользователю", "ResetPasswordUser")
</div>