@{
    ViewBag.Title = "Сбросить пароль";

}
@{
    Layout = "_Layout";
}
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#username').load("/Admin/Users");
        });
        function resetPassword() {
            let userId = $('#userId').val();


                $.ajax({
                    type: "POST",
                    url: "/Admin/ResetPasswordUser",
                    data: {
                        userId: userId
                    },

                    success: function (result) {
                        
                            alert("Пароль изменен на: " + result + " Запишите его!");
                            window.location.href = "/Admin/Index";                       
                    }


                })
        }
    </script>
}
<div class="alert alert-primary" style="width:700px">
    <div class="form-group d-flex row align-items-center justify-content-left">
        <label class="col-5" for="username">Пользователь</label>
        <span id="username">
        </span>
    </div>
</div>
<div>
    <div class="form-group d-flex row align-items-top">
        <button type="button" onclick="resetPassword()" class="btn btn-success" style="margin-left: 3%;">Сбросить</button>
    </div>
</div>